<div class="top_field">
  <input
    class="text-field__input"
    type="search"
    id="search"
    name="search"
    [placeholder]="'enter.label' | translate"
    value=""
    [formControl]="enterControl"
  />
  <button
    class="text-field__btn"
    [disabled]="enterControl.invalid"
    type="button"
    (click)="addNote()"
  >
    {{ "enter.button" | translate }}
  </button>
</div>
<small class="validation" *ngIf="enterControl.invalid && enterControl.touched">
  Поле не может быть пустым, заполните его
</small>
