.App {
  margin: 40px auto;
}
.wrapper {
  width: 400px;
  margin: auto;
  @media (max-width: 650px) {
    width: 300px;
  }
  @media (max-width: 420px) {
    width: 300px;
  }
}
.language {
  margin: auto;
  display: flex;
  width: 200px;
  justify-content: space-evenly;
  .language__item {
    cursor: pointer;
  }
}
svg {
  cursor: pointer;
}
